<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}promo-vert{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href=" {{ asset('css/view.css') }}">
    {% endblock %}

</head>
<body>





{% block body %}

{{ dump() }}


{{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
<input type="submit" value="Edit" />
{{ form_end(edit_form) }}

<li>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
</li>
</body>
{% endblock %}


</html>